<body style="background-color: black;color:white">
    <div style="padding: 20px 30px;">
        <h2 style="text-align: center;color: hsl(344, 12%, 83%);">Verify your email address</h2>
        <div style="text-align: left;">
            <h3>Hi,</h3>
            <p>You are nearly there!</p>
            <p>Before we get started, we need to confirm if it's you. Please use the following OTP to verify your email and complete your sign up:</p>
            <h3>{{otp}}</h3>
            <p>Please note that this OTP will expire in 15 minutes</p>
            <p>If you haven't signed up on Vasitum, please ignore this email.</p>
            <p>Have any queries? We are just an email away! Write to us on
                <span style="color: plum;">meet@vasitum.com</span>
            </p>
            <p>
                -Team vasitum
            </p>
        </div>
    </div>
</body>